/* Override some defaults */
html, body {
    background-image: url(/assets/themes/twitter/images/BackPattern.png);
    background-color: #f5efe8;
}

.navbar .brand {
    color: white;
    text-shadow: 0px 1px 0.5px rgba(0,0,0,0.7);
}

.navbar {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#123456), to(#123456));
  background-image: -moz-linear-gradient(center top, #123456, #123456);
  margin-bottom: -1px;
  /* Got rid of the relatively annoying navbar's border radius. */
  border-radius: 0px;
  /*Added more shadow to it.*/
  box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
  border-bottom: inset 3px #345678;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #345678;
  padding-bottom: 7px;
  border-bottom: solid 4px #345678;
}

.navbar .nav > li > a {
    color: #bce1ff;
}


.container > footer {
  margin-top: 20px;
  margin-left: 3em;
  clear:both;
}

.container > footer p {
  color:#aaa;
  text-align: left;
  text-shadow: 0px 1px 1px rgba(255,255,255,0.8);
}

.byline {
  border-top: 1px solid gray;
  font-style:italic;
  padding-top:0.5em;
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 1px -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
  border-bottom: 1px solid rgba(0,0,0,0.3);
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 10px;
  margin: -20px -20px 20px;
}

.page-header h1 {
  text-shadow: 0 2px 1px rgba(255,255,255,0.8);
}

.topbar .btn {
  border: 0;
}

.github_edit {
    display: block;
    float:right;
}

.content h1 {
    padding-bottom: 0.1em;
}

/* article block_quote header remaps */
.block_quote {
    margin: 1em;
    padding: 1em;
    border: 1px solid gray;
    background-color: rgb(245,245,245);
}

.block_quote > h1 {
    font-size: 140%;
    border: none;
}

.block_quote > h2 {
    font-size: 120%;
}

.block_quote > h3,h4,h5,h6 {
    font-size: 110%;
    font-style: italic;
}



/* tag_box ======================================================== */

.tag_box {
    list-style:none;
    margin:0;
    padding:5px 0 ;
    overflow:hidden;
}
.tag_box li {
    line-height:28px;
}
.tag_box.inline li {
    float:left;
}
.tag_box a {
    padding: 3px 6px;
    margin: 2px;
    background: #eee;
    color:#005F6B;
    border-radius: 3px;
    text-decoration:none;
}
.tag_box a span{
    vertical-align:super;
    font-size:0.8em;
}
.tag_box a.active {
    background:#57A957;
    border:1px solid #4C964D;
    color:#FFF;
}
    
/* navbar extension */
.navbar-inner {
    margin-left: auto;
    margin-left: auto;
}
 
.nav > li > a.external {
    color: #f2d1b9;
}

.navbar-right {
    position:absolute;
    top: 0;
    right:0px;
    margin-top:0.8em;
}

.navbar-right-item {
    margin-right:10px;
    float: left;
}

.pagination {
  position: relative;
  margin-left: 35%;
}

/* right sidebar */
.container {
    width: 1000px;
    margin-left:auto;
    margin-right:auto;
}

.content {
    margin-left: 2em;
    margin-right: 240px;
}

.rightsidebar {
    float:right;
    width: 200px;
    margin-right: 10px;
    padding-top: 10px;
}

/* sidebar widgets */
.sidebar_widget {
    position: relative;
    background: rgb(245,245,245);
    margin-bottom: 10px;
    padding:5px;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.25);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.25);
            box-shadow: 0 1px 2px rgba(0,0,0,0.25);
    border-top: 1px solid rgba(255,255,255,0.7);
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

.sidebar_widget > h3 {
    border-bottom: 2px dashed #d5d5d5;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.8);
    margin-bottom: 5px;
}

/* headers */

.maincontent > h1 {
    border-bottom:1px solid gray !important;
    margin-bottom:0.6em;
    margin-top:1em;
    font-size: 180%;
}

.maincontent > h2 {
    font-size: 160%;
}

.maincontent > h3 {
    font-size: 140%;
}

.mainctontent > h4,h5,h6 {
    font-size: 120%;
}


