/* Override some defaults */
html, body {
    background-color: rgb(209,221,233);
}

.navbar {
  margin-bottom: 0;
}
.container > footer {
  margin-top: 20px;
  margin-left: 3em;
  clear:both;
}

.container > footer p {
  text-align: left;
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.topbar .btn {
  border: 0;
}


/* tag_box ======================================================== */

.tag_box {
    list-style:none;
    margin:0;
    padding:5px 0 ;
    overflow:hidden;
}
.tag_box li {
    line-height:28px;
}
.tag_box.inline li {
    float:left;
}
.tag_box a {
    padding: 3px 6px;
    margin: 2px;
    background: #eee;
    color:#005F6B;
    border-radius: 3px;
    text-decoration:none;
}
.tag_box a span{
    vertical-align:super;
    font-size:0.8em;
}
.tag_box a.active {
    background:#57A957;
    border:1px solid #4C964D;
    color:#FFF;
}
    
/* navbar extension */
.navbar-right {
    position:absolute;
    top: 0;
    right:0;
    margin-top:0.6em;
}

.navbar-right-item {
    margin-right:1.5em;
}

/* right sidebar */
.container {
    width: 1000px;
    margin-left:auto;
    margin-right:auto;
}

.content {
    margin-left: 2em;
    margin-right: 240px;
}

.rightsidebar {
    float:right;
    width: 200px;
    margin-right: 10px;
    padding-top: 10px;
}

/* sidebar widgets */
.sidebar_widget {
    background: rgb(245,245,245);
    margin-bottom: 10px;
    padding: 10px 5px;
    -webkit-border-radius: 0 0 6px 6px;
       -moz-border-radius: 0 0 6px 6px;
            border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
            box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.sidebar_widget > h3 {
    text-align: center;
}

/* headers */

.content h2 {
    border-bottom:1px solid gray !important;
    margin-bottom:0.6em;
    margin-top:1em;
}

