/* Override some defaults */
html, body {
    background-color: rgb(209,221,233);
}

.navbar .brand {
    color: rgb(110,170,180);
}

.navbar {
  margin-bottom: 0;
}
.container > footer {
  margin-top: 20px;
  margin-left: 3em;
  clear:both;
}

.container > footer p {
  text-align: left;
}

.byline {
  border-top: 1px solid gray;
  font-style:italic;
  padding-top:0.5em;
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin: -20px -20px 20px;
}

.topbar .btn {
  border: 0;
}

.github_edit {
    display: block;
    float:right;
}

.content h1 {
    padding-bottom: 0.1em;
}

/* article block_quote header remaps */
.block_quote {
    margin: 1em;
    padding: 1em;
    border: 1px solid gray;
    background-color: rgb(245,245,245);
}

.block_quote > h1 {
    font-size: 140%;
    border: none;
}

.block_quote > h2 {
    font-size: 120%;
}

.block_quote > h3,h4,h5,h6 {
    font-size: 110%;
    font-style: italic;
}



/* tag_box ======================================================== */

.tag_box {
    list-style:none;
    margin:0;
    padding:5px 0 ;
    overflow:hidden;
}
.tag_box li {
    line-height:28px;
}
.tag_box.inline li {
    float:left;
}
.tag_box a {
    padding: 3px 6px;
    margin: 2px;
    background: #eee;
    color:#005F6B;
    border-radius: 3px;
    text-decoration:none;
}
.tag_box a span{
    vertical-align:super;
    font-size:0.8em;
}
.tag_box a.active {
    background:#57A957;
    border:1px solid #4C964D;
    color:#FFF;
}
    
/* navbar extension */
.navbar-inner {
    margin-left: auto;
    margin-left: auto;
}
 
.nav > li > a.external {
    color: rgb(110,170,180);
}

.navbar-right {
    position:absolute;
    top: 0;
    right:0;
    margin-top:0.6em;
}

.navbar-right-item {
    margin-right:10px;
    float: left;
}

/* right sidebar */
.container {
    width: 1000px;
    margin-left:auto;
    margin-right:auto;
}

.content {
    margin-left: 2em;
    margin-right: 240px;
}

.rightsidebar {
    float:right;
    width: 200px;
    margin-right: 10px;
    padding-top: 10px;
}

/* sidebar widgets */
.sidebar_widget {
    background: rgb(245,245,245);
    margin-bottom: 10px;
    padding: 10px 5px;
    -webkit-border-radius: 0 0 6px 6px;
       -moz-border-radius: 0 0 6px 6px;
            border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
            box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.sidebar_widget > h3 {
    text-align: center;
}

/* headers */

.maincontent > h1 {
    border-bottom:1px solid gray !important;
    margin-bottom:0.6em;
    margin-top:1em;
    font-size: 180%;
}

.maincontent > h2 {
    font-size: 160%;
}

.maincontent > h3 {
    font-size: 140%;
}

.mainctontent > h4,h5,h6 {
    font-size: 120%;
}


